.glowing-shadow {
    background-color: #007bff; /* Blue background color */
    color: white; /* Text color */
    border: none; /* Remove button border */
    box-shadow: 0 0 10px #007bff; /* Blue glowing shadow effect */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
  }
  
  .glowing-shadow:hover {
    box-shadow: 0 0 30px #007bff; /* Increase shadow size on hover */
  }
  .todo-modal {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .todo-modal input[type="text"] {
    border-radius: 5px;
  }
  
  .todo-modal ul {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-modal li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .todo-modal li.completed span {
    text-decoration: line-through;
  }
  
  .todo-modal button {
    margin-left: 5px;
  }
  